<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest - Product Details </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /*footer*/
        .mb-3 {
            width: 190px;
            margin-bottom: 1rem !important;
        }

        .suggested-img {
            height: 249px;
            width: 171px;
        }

        /**/
    </style>
</head>

<body>

    <%if(suggestedProducts.length!=0){%>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-5">You might also like</h4>
                    <div class="row">
                        <% for (let i=0; i < suggestedProducts.length; i++) { %>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-30">
                                <div class="product-cart-wrap">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img ">

                                            <a href="/user/productDetail?id=<%= suggestedProducts[i]._id %>">
                                                <img class="default-img suggested-img"
                                                    src="/<%= suggestedProducts[i].image[0] %>"
                                                    alt="<%= suggestedProducts[i].productName %>">
                                            </a>
                                            <a href="/user/wishlist?id=<%=suggestedProducts[i]._id%>"
                                                class="wishlist-btn">
                                                <i class="fas fa-heart" style="color: #ddd;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="product-content-wrap">
                                        <h6 class="book-title">
                                            <%= suggestedProducts[i].productName %>
                                        </h6>
                                        <h6>₹<%= suggestedProducts[i].salePrice %>
                                        </h6>

                                        <a href="/addToCart?id=<%=suggestedProducts[i]._id%>"
                                            class="btn add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
        <%}%>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>


            <script src="https://kit.fontawesome.com/your-fontawesome-kit-id.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>