<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNest - Offers</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .content {
            margin-left: 220px;
            padding: 20px;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }

        #search-btn {
            border-radius: 0px 5px 5px 0px;
            border-color: #d6d1d1;
        }

        .sort-box {
            width: 100px;
            display: block;
            /* width: 100%; */
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    </style>
</head>

<body>
    <%- include('../partials/admin/sideBar') %>

        <div class="content">
            <h4>Offers</h4>
            <div class="d-flex justify-content-between align-items-center mb-4">

                <!-- Search Offer -->
                <div class="input-group  w-25">
                    <input type="text" class="form-control  w-25" placeholder="Search Offer"
                        aria-label="Recipient's username" aria-describedby="button-addon2" id="searchInput"
                        onkeyup="searchOffer()">
                    <button class="btn btn-outline-secondary" id="search-btn" type="button" id="button-addon2"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <!---------------------->
                <!----Search Product---->
                <script>
                    function searchOffer() {
                        const input = document.getElementById('searchInput')
                        const filter = input.value.toLowerCase()
                        const table = document.getElementById('table-data')
                        const rows = table.getElementsByTagName('tr')

                        for (let i = 1; i < rows.length; ++i) {
                            const productCell = rows[i].getElementsByTagName('td')[0]
                            if (productCell) {
                                const productName = productCell.textContent || productCell.innerText
                                if (productName.toLowerCase().indexOf(filter) > -1) {
                                    rows[i].style.display = ''
                                } else {
                                    rows[i].style.display = 'none'
                                }
                            }
                        }
                    }
                </script>
                <!--------------------->



                <select class=" sort-box">
                    <option>Sort by</option>
                    <option>Category</option>
                    <option>Book Name</option>
                    <option value="">Starting Date</option>
                    <option>Expire Date</option>
                </select>
            </div>
            <br>
            <%if(products.length===0){%>
                <p>No products found</p>
                <%}else{%>
                    <table class="table " id="table-data">
                        <thead>
                            <tr>
                                <th>Book Name</th>
                                <th>Discount</th>
                                <th>Starting Date</th>
                                <th>Expire Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%products.forEach((product,i)=>{%>
                                <tr>
                                    <%if(product.productOffer){%>
                                        <td>
                                            <%=product.productName%>
                                        </td>
                                        <td>
                                            <%=product.productOffer%> %
                                        </td>
                                        <%if(product.startOfferDate){%>
                                            <td>
                                                <%=product.startOfferDate.toISOString().substring(0,10)%>
                                            </td>
                                            <%}%>
                                                <%if(product.expireOfferDate){%>
                                                    <td>
                                                        <%=product.expireOfferDate.toISOString().substring(0,10)%>
                                                    </td>
                                                    <%}%>
                                                        <td>
                                                            <button type="button" data-id="<%=product._id%>"
                                                                data-name="<%=product.productName%>"
                                                                class="btn btn-primary btn-sm edit-btn"
                                                                data-offer="<%=product.productOffer%>"
                                                                data-startDate="<%=product.startOfferDate%>"
                                                                data-expireDate="<%=product.expireOfferDate%>">
                                                                Edit </button>

                                                            <!-- Edit Offer Modal -->
                                                            <div class="modal fade" id="editOfferModal" tabindex="-1"
                                                                aria-labelledby="editOfferModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <form id="editOfferForm" method="post">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="editOfferModalLabel">
                                                                                    Edit Offer
                                                                                </h5>
                                                                                <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close"><span>&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="form-group">
                                                                                    <label for="edit-product-name">Book
                                                                                        Name</label>
                                                                                    <input type="text"
                                                                                        id="edit-product-name"
                                                                                        class="form-control"
                                                                                        name="productName" readonly>
                                                                                    <div class="text-danger"
                                                                                        id="edit-book-name-error"></div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="edit-offer">Offer
                                                                                        (%)</label>
                                                                                    <input type="number"
                                                                                        id="edit-product-offer"
                                                                                        name="productOffer"
                                                                                        class="form-control" min="0"
                                                                                        max="100">
                                                                                    <div class="text-danger"
                                                                                        id="edit-product-offer-error">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label
                                                                                        for="edit-start-date">Starting
                                                                                        Date</label>
                                                                                    <input type="date"
                                                                                        id="edit-start-date"
                                                                                        class="form-control"
                                                                                        name="startOfferDate">
                                                                                    <div class="text-danger"
                                                                                        id="edit-start-date-error">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label for="edit-expire-date">Expire
                                                                                        Date</label>
                                                                                    <input type="date"
                                                                                        id="edit-expire-date"
                                                                                        class="form-control"
                                                                                        name="expireOfferDate">
                                                                                    <div class="text-danger"
                                                                                        id="edit-expire-date-error">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Cancel</button>
                                                                                <button type="submit"
                                                                                    class="btn btn-primary">Save</button>
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden" id="editProductIndex">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <!--  -->
                                                            <script>




                                                                const editOfferForm = document.getElementById('editOfferForm')

                                                                editOfferForm.addEventListener('submit', (e) => {
                                                                    let isValid = true

                                                                    isValid = editOfferValidation(isValid)


                                                                    if (!isValid) {
                                                                        e.preventDefault()
                                                                    }
                                                                })

                                                                function editOfferValidation(isValid) {
                                                                    const offerVal = document.getElementById('edit-product-offer').value
                                                                    const startDateVal = document.getElementById('edit-start-date').value
                                                                    const expireDateOffer = document.getElementById('edit-expire-date').value
                                                                    const offerError = document.getElementById('edit-product-offer-error')
                                                                    const startDateError = document.getElementById("edit-start-date-error")
                                                                    const expireDateError = document.getElementById("edit-expire-date-error")

                                                                    const offerPattern = /\d/
                                                                    offerError.textContent = ''
                                                                    startDateError.textContent = ''
                                                                    expireDateError.textContent = ''

                                                                    if (!offerPattern.test(offerVal) && offerVal) {
                                                                        offerError.textContent = 'Product offer should be number. Please enter valid price.'
                                                                        isValid = false
                                                                    } else if (offerVal > 100) {
                                                                        offerError.textContent = 'Product offer should be below 100%'
                                                                        isValid = false
                                                                    } else if (offerVal && !startDateVal) {
                                                                        startDateError.textContent = 'Start offer date should not be empty'
                                                                        isValid = false
                                                                    }
                                                                    return isValid
                                                                }


                                                                //   display today and after
                                                                window.addEventListener('DOMContentLoaded', function () {
                                                                    const today = new Date().toISOString().split('T')[0]
                                                                    document.getElementById('edit-start-date').setAttribute('min', today)
                                                                    document.getElementById('edit-expire-date').setAttribute('min', today)
                                                                })

                                                                // Validate Expire Date > Start Date
                                                                document.getElementById('edit-expire-date').addEventListener('change', function () {
                                                                    let expireDate = this.value
                                                                    let startDate = document.getElementById('edit-start-date').value
                                                                    let expireDateError = document.getElementById('edit-expire-date-error')

                                                                    if (expireDate && startDate && expireDate <= startDate) {
                                                                        expireDateError.textContent = 'Expire date must be after the start date.'
                                                                        this.value = ''
                                                                    } else {
                                                                        expireDateError.textContent = ''
                                                                    }
                                                                })

                                                                function formatDate(dateStr) {
                                                                    // Handles both Date objects and strings
                                                                    let date = new Date(dateStr);
                                                                    if (isNaN(date.getTime())) return ""; // invalid date
                                                                    let month = "" + (date.getMonth() + 1);
                                                                    let day = "" + date.getDate();
                                                                    let year = date.getFullYear();

                                                                    if (month.length < 2) month = "0" + month;
                                                                    if (day.length < 2) day = "0" + day;
                                                                    return [year, month, day].join("-");
                                                                }
                                                                document.addEventListener('DOMContentLoaded', () => {
                                                                    const editButton = document.querySelectorAll('.edit-btn');

                                                                    editButton.forEach(button => {
                                                                        button.addEventListener('click', () => {
                                                                            const id = button.getAttribute('data-id')
                                                                            const productName = button.getAttribute('data-name')
                                                                            const productOffer = button.getAttribute('data-offer')
                                                                            const startOfferDate = button.getAttribute('data-startDate')
                                                                            const expireOfferDate = button.getAttribute('data-expireDate')

                                                                            document.getElementById('editProductIndex').value = id
                                                                            document.getElementById('edit-product-name').value = productName
                                                                            document.getElementById('edit-product-offer').value = productOffer
                                                                            document.getElementById('edit-start-date').value = formatDate(startOfferDate);
                                                                            document.getElementById('edit-expire-date').value = formatDate(expireOfferDate)



                                                                            const form = document.getElementById('editOfferForm')
                                                                            form.action = `/admin/edit-offer/${id}`
                                                                            const modal = new bootstrap.Modal(document.getElementById('editOfferModal'))

                                                                            modal.show();
                                                                        })
                                                                    })

                                                                })
                                                            </script>

                                                            <!-- Store product data as JS array -->
                                                            <!-- const products = [
                                                            <% products.forEach((product)=> { %>
                                                                {
                                                                name: "<%= product.productName %>",
                                                                    offer: "<%= product.productOffer %>",
                                                                        startDate: "<%= product.startOfferDate ?
                                                                            product.startOfferDate.toISOString().substring(0,10)
                                                                            : '' %>",
                                                                            expireDate: "<%= product.expireOfferDate ?
                                                                                product.expireOfferDate.toISOString().substring(0,10)
                                                                                : '' %>"
                                                                                },
                                                                                <% }); %>
                                                                                    ]; -->

                                                            <!-- <script>
                                                                function openEditModal(index) {
                                                                    const product = products[index];
                                                                    document.getElementById('modalBookName').value = product.name;
                                                                    document.getElementById('modalOffer').value = product.offer;
                                                                    document.getElementById('modalStartDate').value = product.startDate;
                                                                    document.getElementById('modalExpireDate').value = product.expireDate;
                                                                    document.getElementById('editProductIndex').value = index;
                                                                    $('#editOfferModal').modal('show');
                                                                }

                                                                // Optionally, handle the save event to update info
                                                                document.getElementById('editOfferForm').addEventListener('submit', function (e) {
                                                                    e.preventDefault();
                                                                    // Gather updated data
                                                                    const index = document.getElementById('editProductIndex').value;
                                                                    const updatedProduct = {
                                                                        offer: document.getElementById('modalOffer').value,
                                                                        startDate: document.getElementById('modalStartDate').value,
                                                                        expireDate: document.getElementById('modalExpireDate').value
                                                                    };
                                                                    // For now, just close modal and log; you can send data via AJAX to update backend
                                                                    $('#editOfferModal').modal('hide');
                                                                    console.log('Updated Product:', index, updatedProduct);
                                                                    // TODO: send updated data to your backend via fetch/AJAX
                                                                });

                                                            </script> -->


                                                            <button class="btn btn-danger btn-sm">Delete</button>
                                                        </td>
                                                        <%}%>
                                </tr>
                                <% })%>


                        </tbody>
                    </table>

                    <div class="pagination">
                        <% if (currentPage> 1) { %>
                            <a href="?page=<%= currentPage - 1 %>" class="btn btn-outline-secondary">
                                < </a>
                                    <% } %>

                                        <% if (currentPage> 4) { %>
                                            <a href="?page=1" class="btn btn-outline-secondary">1</a>
                                            <% if (currentPage> 5) { %>
                                                <span class="dots">...</span>
                                                <% } %>
                                                    <% } %>

                                                        <% for (let i=Math.max(1, currentPage - 2); i
                                                            <=Math.min(totalPages, currentPage + 2); i++) { %>
                                                            <a href="?page=<%= i %>"
                                                                class="btn <%= i === currentPage ? 'btn-primary' : 'btn-outline-secondary' %>">
                                                                <%= i %>
                                                            </a>
                                                            <% } %>

                                                                <% if (currentPage < totalPages - 3) { %>
                                                                    <% if (currentPage < totalPages - 4) { %>
                                                                        <span class="dots">...</span>
                                                                        <% } %>
                                                                            <a href="?page=<%= totalPages %>"
                                                                                class="btn btn-outline-secondary">
                                                                                <%= totalPages %>
                                                                            </a>
                                                                            <% } %>

                                                                                <% if (currentPage < totalPages) { %>
                                                                                    <a href="?page=<%= currentPage + 1 %>"
                                                                                        class="btn btn-outline-secondary">></a>
                                                                                    <% } %>
                    </div>

                    <%}%>
        </div>

        <%if(message){%>
            <script>
                alert('<%=message%>')
            </script>
            <%}%>


                <script>
                    const urlparams = new URLSearchParams(window.location.search)
                    const message = urlparams.get('message')
                    if (message) {
                        alert(message)
                    }
                </script>

                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>