<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .address-box,
        .payment-method-box,
        .order-summary-box {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .order-summary-box img {
            width: 80px;
            height: auto;
        }

        .order-summary-box .details {
            margin-left: 20px;
        }

        .order-summary-box .price-details {
            margin-top: 20px;
        }

        .continue-btn {
            background-color: #FF3F6C;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
        }


        .order-summary .summary-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .mb-3 {
            width: 190px;
            margin-bottom: 1rem !important;
        }

        .suggested-img {
            height: 249px;
            width: 171px;
        }

        .wishlist-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background: rgba(20, 2, 2, 0.8);
            padding: 5px;
            border-radius: 50%;
            z-index: 2;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s;
        }

        .wishlist-btn:hover {
            transform: scale(1.2);
            background: #ff6f61;
            color: white;
        }

        .wishlist-button i {
            color: #333;
        }
    </style>
</head>

<body>
    <%- include('../partials/user/nav-bar')%>


        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">

                    <div class="address-box">
                        <% if(addresses.length> 0) { %>
                            <h5>Select Delivery Address</h5>
                            <% addresses.forEach((addr, index)=> { %>
                                <a href="/user/editAddress?id=<%=addr._id%>" style="color: black;">
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="address" id="address<%= index %>"
                                        value="<%= addr._id %>">
                                    <label class="form-check-label" for="address<%= index %>">
                                        <%= addr.name %>, <%= addr.phone %><br>
                                                <%= addr.houseAddress %>, <%= addr.post %>, <%= addr.cty %>,<br>
                                                            <%= addr.district %>, <%= addr.pin %>, <%= addr.state %>
                                    </label>
                                </div>
                            </a>
                                <% }); %>
                                    <% } else { %>
                                        <div class="alert alert-info">No addresses found. Please add an address.</div>
                                        <% } %>
                                            <a href="/user/addAddress" class="btn btn-outline-secondary mt-3">
                                                Add New Address
                                            </a>
                    </div>

                    <br><br>
                    <div class="payment-method-box">
                        <h5>Payment Method</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="upi">
                            <label class="form-check-label" for="upi">
                                UPI
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="creditCard">
                            <label class="form-check-label" for="creditCard">
                                Credit Card
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="cod">
                            <label class="form-check-label" for="cod">
                                Cash on Delivery
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="wallet">
                            <label class="form-check-label" for="wallet">
                                Wallet
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="order-summary-box d-flex" style="width:500px ;">
                        <img src="/<%=product.image[0]%>" alt="The Alchemist" style="width: 215px;height: auto;">
                        <div class="details order-summary">
                            <h5>
                                <%=product.productName%>
                            </h5>
                            <div class="summary-item">
                                <span>Price:</span>
                                <span>₹<%=product.salePrice%></span>
                            </div>
                            <div class="summary-item">
                                <% const deliveryDate=new Date();
                                 deliveryDate.setDate(deliveryDate.getDate() + 4);
                                    const formattedDate=deliveryDate.toLocaleDateString('en-US', { month: 'short' , day: 'numeric' }); %>
                                    <span>Delivered by:</span>
                                    <span>
                                        <%= formattedDate %>
                                    </span>
                            </div>
                            <div class="summary-item">
                                <span>Total MRP:</span>
                                <span>₹<%=product.regularPrice%></span>
                            </div>
                            <div class="summary-item">
                                <span>Discount:</span>
                                <span>
                                    <%=product.productOffer%>%
                                </span>
                            </div>
                            <div class="summary-item">
                                <span>Shipping Fee:</span>
                                <span>₹100</span>
                            </div>
                            <div class="summary-item">
                                <span>Total MRP:</span>
                                <span>₹<%=product.salePrice+100%></span>
                            </div>

                            <button class="continue-btn mt-3  btn-block">Continue</button>
                        </div>

                    </div>

                </div>
            </div>


            <%if(suggestedProducts.length!=0){%>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="mt-5">You might also like</h4>
                            <div class="row">
                                <% for (let i=0; i < suggestedProducts.length; i++) { %>
                                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-30">
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">

                                                    <a href="/user/productDetail?id=<%= suggestedProducts[i]._id %>">
                                                        <img class="default-img suggested-img"
                                                            src="/<%= suggestedProducts[i].image[0] %>"
                                                            alt="<%= suggestedProducts[i].productName %>">
                                                    </a>
                                                    <a href="/addToWishlist?id=<%=suggestedProducts[i]._id%>"
                                                        class="wishlist-btn">
                                                        <i class="fas fa-heart" style="color: #ddd;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="product-content-wrap">
                                                <h6 class="book-title">
                                                    <%= suggestedProducts[i].productName %>
                                                </h6>
                                                <h6>₹<%= suggestedProducts[i].salePrice %>
                                                </h6>

                                                <a href="/addToCart?id=<%=suggestedProducts[i]._id%>"
                                                    class="btn add-to-cart-btn">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>


        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <%- include('../partials/user/footer')%>

</body>

</html>